<div class="home">
  <div class="left">
    <div class="top">
      <span class="title">
        WORKOUTS MADE <br />
        <span class="accent">EXCLUSIVE</span> FOR YOU!
      </span>

      <span class="description">
        We create <span class="accent">exclusive and unique workouts</span> for
        you. <br />
        Invest in your body and
        <span class="accent">get much more performance</span> <br />
        and quality of life.
      </span>
    </div>

    <div class="bottom" (click)="openMessagesDialog()">
      <button matRipple class="whatsapp">
        <img src="../../assets/whatsapp.svg" />
        <span>Start now</span>
      </button>
    </div>
  </div>

  <div class="right">
    <img class="fitness-jump" src="../../assets/fitness-jump.svg" />
  </div>
</div>
